<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="sidebar_content">
        <div class="sidebar_fixed">
          <table class='table table-hover table-inverse'>
            <thead>
              <tr>
                <th>ジャンル検索</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!--<td>genre.name</td>を使いたい -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      ようこそ、ながのCAKEへ!</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </div>
  </div>
</div>
