<div class='container'>
  <h3>商品一覧</h3>
  <div class='row'>
    <div class="col mx-auto">
      <% @items.each do |item| %>
      <div class="row row-cols-4">
        <div class="col">
          <p><%= image_tag item.get_item_image(300,300) %></p>
          <p><%= item.name %></p>
          <p>¥<%= item.price.to_s(:delimited) %>円</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>